form{
	background-color: #f9f9fb;
    border-radius: 10px;
	width: 100%;
	padding-left: 20px
}
form p{
    text-align: left;
    margin:20px 15px 0px 0px;
}
form hr{
    margin: 20px 0px 30px 0px;
}
.form-title{
    text-align: left;
	margin-top: 40px;
}
.flex-form{
	display: flex;
    justify-content: flex-start;
}
input{
    outline: none;
    color: #9e9e9e;
    height: 20px;
    border: 1px solid #e8e7e7;
    border-radius: .25em;
}
input:not(.civilite){
	outline: none;
    display: block;
    width: 100%;
    min-width: 180px;
}
input.cp-comp{
    width: 60%;
    min-width: inherit;
}
input.civilite{
	margin-right: 10px;
    margin-bottom: 20px;
}
input.civilite:last-child{
	margin-left: 20px;
}
.com{
	width: 100%;
}
textarea{
    color: #9e9e9e;
    outline: none;
    border: 1px solid #e8e7e7;
    border-radius: .25em;
}
/*
textarea[name="message"]{
   width: 80%;
    max-width: 450px;
}
*/
#contact-btn{
    color: inherit;
	float: right;
	border: none;
    text-align: center;
	height: 30px;
    margin-top: 30px;
    background-color: #E8B960;
    border-radius: .25em;
    cursor: pointer;
}
/****************************
MEDIA QUERY
****************************/
@media screen and (max-width: 768px){
    form{
        padding-left: 5px;
        display: inline-block;
    }
    .element5 i{
        transform: rotate(90deg);
        margin-bottom: 10px;
    }

}